body {
  background-image: url(dakota-corbin-a-AWnRtwlWM-unsplash.jpg);
  color: white;
}

button {
  cursor: pointer;
}

h1 {
  text-align: center;
}

h2,
h3,
p {
  text-align: center;
}

.container {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

.card {
  background-color: rgb(116, 73, 73);
  color: white;
  padding: 0px 20px;
  width: 250px;
  height: 300px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card:hover {
  transform: scale(1.2);
  font-size: 18px;;
}

.delete,
#showDialog {
  padding: 10px 40px;
  border-radius: 20px;
  border: none;
}

.delete:hover {
  background-color: rgb(255, 0, 0);
  transition: 1s;
}

#showDialog,
.card {
  transition: all 0.5s ease-in-out;
}

#showDialog:hover {
  transform: scale(1.5);
}

.toggle {
  margin: auto;
}

.inputs {
  text-align: center;
}

#favDialog {
  position: absolute;
  top: -640px;
}